<div id="box">
<div class="container">
    <div class="Header">
      <nav>
        <ul>
          <Li>
            <a routerLink="/">
                <p>
                  Controle de viagens
                </p>
              </a>
          </Li>
          <Li>
            <a routerLink="/Cadastro">
                <p id="mudar">
                  Nova viagem
                </p>
              </a>
          </Li>
        </ul>
      </nav>
    </div>
    <div class="Section">
      <p id ="intro">Cadastro de viagens</p>
      <div class="box">
        <form>
            <div class="containerForm">
                <label class="escrita">Destino</label><input type="text" class="inputers"></div>
                <div class="containerForm"><label class="escrita">Tipo</label><input type="text" class="inputers"></div>
                <div class="containerForm"><label class="escrita">Data de chegada</label><input type="date" class="inputers" style="margin-right: 1px;"></div>
                <div class="containerForm"><label class="escrita">Data de saída</label><input type="date" class="inputers" style="margin-right: 1px;"></div>
                <div class="containerForm"><label class="escrita">Orçamento</label><input type="text" class="inputers"></div>
                <div class="containerForm"><label class="escrita">Qtde. pessoa</label><input type="text" class="inputers"></div>
                <div id="botao"><button id="enviar" onclick="alert('Cadastro enviado')">enviar</button></div>
        </form>
      </div>
    </div>
  </div>
  <p id="fortalecimento">sla</p>
</div>